<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="Default.asp" />
                <add value="Default.htm" />
                <add value="Home.htm" />
                <add value="Home.html" />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
        <staticContent>
            <remove fileExtension=".png" />
            <remove fileExtension=".wbmp" />
            <remove fileExtension=".tiff" />
            <remove fileExtension=".jpeg" />
            <remove fileExtension=".gif" />
            <remove fileExtension=".css" />
            <remove fileExtension=".bmp" />
            <mimeMap fileExtension=".bmp" mimeType="image/x-bmp" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".gif" mimeType="image/gif" />
            <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".tiff" mimeType="image/tiff" />
            <mimeMap fileExtension=".wbmp" mimeType="image/vnd.wap.wbmp" />
            <mimeMap fileExtension=".png" mimeType="image/png" />
        </staticContent>
    </system.webServer>
    <system.web>
	<customErrors mode="RemoteOnly" defaultRedirect="unavailable.php">
		<error statusCode="403" redirect="noaccess.php" />
		<error statusCode="404" redirect="unavailable.php" />
	</customErrors>
    </system.web>
</configuration>
