<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<mytHost>41.185.8.228</mytHost>
	<port>3306</port>
	<user>mytchur1_melodiadmin</user>
	<pass>4Dm1n3huRchmyt</pass>
	<db>mytchur1_myt_church</db>
	<contacts>general_enquiry</contacts>
	<members>join_enquiry</members>
	<choirJoin>choir_enquiry</choirJoin>
        <skillsAudit>member_skills</skillsAudit>
<adminMembers>admin_login</adminMembers>
<events>events</events>
	<mytSendFrom>webmaster@mytchurch.co.za</mytSendFrom>
	<fullrevSend>admin@mytchurch.co.za</fullrevSend>
	<partrevSend>admin@mytchurch.co.za</partrevSend>
	<caretakerSend>admin@mytchurch.co.za</caretakerSend>
	<secretarySend>admin@mytchurch.co.za</secretarySend>
	<conductorSend>choir@mytchurch.co.za</conductorSend>
	<caretaker>Mr. David Madiba</caretaker>
	<reverend>Dr. TJ Nthakhe</reverend>
	<secretary>Church Adminstrator</secretary>
	<conductor>Mr. Phahlane</conductor>
	<webadmin>MYT Webmasters</webadmin>
	<forwardCaretakerParam>care</forwardCaretakerParam>
	<forwardRevParam>rev</forwardRevParam>
	<forwardSecretaryParam>sec</forwardSecretaryParam>
	<forwardConductorParam>cond</forwardConductorParam>
        <forwardAcadLeadParam>ac</forwardAcadLeadParam>
	<forwardReqParam>rq</forwardReqParam>
  	<forwardJoinParam>jn</forwardJoinParam>
	<forwardChoirParam>ch</forwardChoirParam>
        <forwardAcadComParam>acad</forwardAcadComParam>
	<logFile>../../logs/</logFile>
	<logFileExt>.log</logFileExt>
	 <errorPage>../html/mytchurch.co.za/errorPage.php</errorPage>
	<mailForwardPage>/forwardMailConfirm.php</mailForwardPage> 
        <academicCom>Academic Committee</academicCom>
	<academicComSend>academics@mytchurch.co.za</academicComSend>
</configuration>
